.container {
  display: flex;
}

.carousel {
  flex: 1;
  width: 100%;
  position: relative;
  left: -20%;
}

.wrapper {
  height: 100vh;
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.details {
  flex: 1;
  position: relative;
  margin-top: 3rem;
}

.hero {
position: absolute;
  top: 0;
  left: 0;
  width: 100%; // Ocupa o espaço do wrapper
  height: 100vh; // Define a altura baseada na tela
  display: flex;
  justify-content: center;
  align-items: center;
  
  // Isso garante que a imagem do HeroPicture ocupe o espaço
  > div {
    width: 100% !important;
    height: 100% !important;
  }

  img {
    height: 100%;
    object-fit: contain;
    object-position: center right;
    width: 100%;
  }
}
